{% extends "base_generic.html" %}
{% block content %}


<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-7" >
<br><br><br>
            404 page not found <br>
        요청하신 주소의 페이지를 찾을 수 없습니다. <br>
        주소가 잘못되었거나 변경 또는 삭제되었을 수 있어요.<br>
        다시 한 번 확인 부탁드립니다.<br>

    </div>
    <div class="col-md-1"> </div>

</div>
{% endblock %}