{% extends "base_generic.html" %}
{% block content %}



<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-7" >
<br><br><br>
            500 server error <br><br>
        요청하신 작업에 대해 서버에서 처리할 수 없었습니다. <br>
        관리자에게 문의하셔야 합니다.<br>
        <br>

    </div>
    <div class="col-md-1"> </div>

</div>
{% endblock %}