<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    
    {% block title %}<title>CAFE A4001</title>{% endblock %}
   
    <!-- lastest jquery -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    {% load static %}
    <!-- jQuery UI library -->
    <link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.structure.min.css' %}">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.theme.min.css' %}">
    <script src="{% static 'js/jquery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.number.min.js' %}"></script>

    <!-- normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
    
    <!-- jqplot -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.jqplot.min.css'%}">
    <script src="{% static 'js/jqplot/excanvas.min.js'%}"></script>
    <script src="{% static 'js/jqplot/jquery.jqplot.min.js'%}"></script>
    <script src="{% static 'js/jqplot/jqplot.barRenderer.min.js'%}"></script>
    <script src="{% static 'js/jqplot/jqplot.pieRenderer.min.js'%}"></script>

    <!-- DataTables library -->
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>

    <!--
    <link    rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script  type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    -->


    
    <!--부트스트랩-->
      <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
      <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    


</head>
<body>
<script type="text/javascript">
$(document).ready(function() {
  $('.number').number(true); //1234 > 1,234
  $('.grid-data').DataTable( {
      "pageLength": 100
  } );

  $('.grid-data tbody tr').hover(function() {
      $(this).addClass('hoverRowColor');
  }, function() {
      $(this).removeClass('hoverRowColor');
  });
  $('#datepicker').datepicker({dateFormat:'yy-mm-dd'});
});

// 오늘 날짜 가져오기
// 결과: 2017-08-01
function getTodayDate(){
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();

  if(dd<10) {  dd = '0'+dd } 
  if(mm<10) { mm = '0'+mm  } 
  today = yyyy + '-' +  mm + '-' +dd  ;
  return today
};


function setDateToday(){
  //  오늘 날짜로 설정한다
  console.log(getTodayDate());
  $(".datepicker").val(function(){
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
  
    if(dd<10) {  dd = '0'+dd } 
    if(mm<10) { mm = '0'+mm  } 
    today = yyyy + '-' +  mm + '-' +dd  ;   
    return today
  });
};

function history_data (data) {
  if (data.result == false){ return alert(data.msg); }

  var last_payday = '기록없음'
  var remain = 0

  if (data.lastest_paiddate ){ last_payday = data.lastest_paiddate }
  if (data.remain ){ remain = data.remain }

  var result = ''
  result += "<table class=\"table table-condensed table-hover table-striped table-sm\"><tr><th>수금 후 잔액</th><td> " + remain+" </td> <th>이전 수금일</th><td> " + last_payday+" </td></tr>"
  result += "<caption>미수금 총액 = 수금 후 잔액 + 총 판매액 - 쿠폰사용액</caption></table>"
  
  result += "<table class=\"table table-condensed table-hover table-striped table-sm \">"
  result += "<tr><th style=\"width:100px;\">판매일자</th><th>판매항목</th><th style=\"width:100px;\" >판매총액</th></th></tr><tbody>";  
  
   for (var i = 0; i < data.history.length; i++) { 
      result = result + "<tr><td>"+data.history[i].orderdate+"&nbsp;&nbsp;</td><td>"+data.history[i ]. products+"&nbsp;&nbsp;</td><td class=\"number\">"+ data.history[i].total_sales +"&nbsp;</td></tr>";  
      
  };  
  result = result+ "</tbody></table>";
  return result
};// end of history_data()

function show_order_history (client_id) {
  $.ajax({
    dataType: 'json',
    url: '/tiamo/order/history/',
    type:'POST',
    data: { 
        'client_id': client_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
    success: function (data){
        $('#dialog_msg #body').html(history_data(data));
        $('#dialog_msg').dialog({
          title: data.title,
          modal: true,
          buttons: {
            Ok: function() {
              $( this ).dialog( "close" );
            }
          }
        });
        $('#dialog_'+client_id+'_msg #body').html(history_data(data));
        $('#dialog_'+client_id+'_msg').dialog({
          title: data.title,
          modal: true,
          buttons: {
            Ok: function() {
              $( this ).dialog( "close" );
            }
          }
        });
    } // end of success
  });  //end of ajax
}; // end of show_order_history()


function input_money_amount(client_id){
  var result_data = "<div id=\"input_money_amount\" "
  result_data +=  "<label for=\"received_money\">받은 금액 입력:</label>"  
  result_data +=  "<input type=\"text\" name=\"inputBox\" placeholder=\"0\" id=\"received_"+client_id+"_money\"/>"
  result_data +=  "<span  id=\"error_span\" class=\"glyphicon glyphicon-remove\" style=\"display:none\"/></div>"
  return result_data                          
};


</script>

<style type="text/css">
table th{ background-color: #f5f5f5;  }
h1 {  font-size: 24px;}
/*order_addData.html*/
.products {  width: 80%;}

.total_number {color: #c70039;}

.ui-dialog { width: 600px !important;}
.warning-placeholder {
   color: #ff0000 
}
.keybords tr td {padding : 3px;}

.grid-data tbody tr.hoverRowColor {
    background-color: #C4E9F2 !important;
}
a {
  color:inherit;
  text-decoration: none;
 }
</style> 
<!-- bootstrap Static navbar -->
<nav class="nav nav-tabs ">
    <div class="navbar-header">
      <a href="{% url 'home' %}"><img style="width:40%;" src="{% static "img/logo.png" %}" alt="CAFE_A4001_LOGO"/></a>
      <img class="img-rounded" src="{% static "icons/ddadan.gif" %}" />
      <!--  <img alt="Brand" src="..."> -->
    </div> <!--end of class="navbar-header" -->
    
    <div id="navbar" class="navbar-collapse ">
        <ul class="nav navbar-nav">
          <li class="default">
            <a  class="dropdown-toggle" role="button" href="{% url 'client_list' %}" ><span class="glyphicon glyphicon-copyright-mark"></span>모든 거래처</a></li>
          <!-- 판매 dropdown >>>>>>>>>-->
          <li class="dropdown default">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-fire"></span> 일일판매 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'order_main' %}">판매현황(오늘)</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'create_order' %}">신규입력</a></li>
            </ul>
          </li>  
          <!-- <<<<<<<<<< endof 판매  -->
          <!-- 외상 dropdown >>>>>>>>>-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-piggy-bank"> 수금 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'payment_time'%}">수금용 페이지</a></li>
            </ul>
          </li>  
          <!-- <<<<<<<<<< endof 외상  -->
          <!-- 막장부 (임시) dropdown >>>>>>>>>-->
          <li class="dropdown default">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-fire"></span> 막장부 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href=" {% url 'order_daily_list' 20180430 %}"> 4월 30(월) </a> </li>
              <li><a href=" {% url 'order_daily_list' 20180501 %}"> 5월  1(화) </a> </li>
              <li><a href=" {% url 'order_daily_list' 20180502 %}"> 5월  2(수) </a> </li>
              <li><a href=" {% url 'order_daily_list' 20180503 %}"> 5월  3(목) </a> </li>
              <li><a href=" {% url 'order_daily_list' 20180504 %}"> 5월  4(금) </a> </li>
              <li><a href=" {% url 'order_daily_list' 20180505 %}"> 5월  5(토) </a> </li>
              <li><a href=" {% url 'order_daily_list' 20180507 %}"> 5월  7(월) </a> </li>
            </ul>
          </li>       
          <!-- 매입 dropdown >>>>>>>>>-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-piggy-bank"> 매입 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{%url 'purchase_main'%}">매입현황</span></a></li>
              <li class="divider"></li>
              <li><a href="{% url 'purchase_create'%}">매입기록</a></li>
            </ul>
          </li>  
          <!-- <<<<<<<<<< endof 매입  -->       
          <li class="divider"></li>
          <li><a href="{% url 'stats_main' %}"><span class="glyphicon glyphicon-flash"> 통계</span></a></li> 
          <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-stats"> 데이터</span></a></li> 
        </ul> <!-- <<<<<<<<< class="nav navbar-nav" -->
    </div> <!-- <<<<<<<<< class="navbar-collapse collapse" -->
</nav>
<!-- <<<<<<<<<< bootstrap Static navbar  -->
<div class="container-fluid">
<div id="container" class="row" style="border:1px;">
    {% block content %}{% endblock %}
  </div>
</div>
</div>

</body>

</html>


