{% extends "base_generic.html" %}

{% block content %}
<style type="text/css">
table th {width: 150px;}
#lastest {background-color: #30824c; color: white; height:100px; text-align: center;}
</style>

<div class="row">
<div class="col-md-1">
</div> <!-- end of col-md-1 -->
<div class="col-md-9">
      <div class="col-md-3">
        {% load static %}
        <img class="img-thumbnail img-responsive center-bloc" style="height:200px;" src="{% static "img/owner01.png" %}" alt="AWM"/>
        <br><blockquote><p>'If you're going through hell, keep going. -에이브러햄 링컨.</p></blockquote>
      </div>
      <div   class="col-md-6"> 
          <h3>수정 내역 </h3>
          <table>
              <th>2018.11.02</th><tr><td id="lastest">
                  <ul>
                      <li>
                        <p>[막장부] 입력한 순서대로 표시됨. 5월 8일자부터 </p>
                        <p>5월 7일자 이전 막장부 (아래 url을 수기로 완성하여 호출)</p>
                        <p>예) http://119.205.220.23:8111/tiamo/order/list/20180507/</p>
                      </li>
                  </ul></td> </tr>
            <th>2018.11.02</th><tr><td>
            <ul>
                <li>[매입 기록] 페이지 기본 날자 포멧오류 수정됨.</li>
                <li>[매입 현황] %월 매입처별 누적 구매금액 항목 정상 동작함.</li>
            </ul></td> </tr>

            <th>2017.11.29</th><tr><td></td></tr>
            <th></th><tr><td><ul>
              <li>매입 기록 페이지 정상 수정됨.</li>
              <li>매입 현황 페이지 작업 중.</li>
            </ul> </td></tr>

            <th>2017.11.14</th><tr><td></td></tr>
            <th></th><tr><td><ul>
              <li>모든 거래처 화면에서 날짜지정 버튼으로 수금할 때 확인 창이 뜨던것 삭제함 </li>
              <li>이전 수금 후 잔액이 있을 경우, 날짜별 판매 금액보다 우선하여 사라지도록 수정 (=이전에는 금액으로만 수금처리 가능하던 문제)</li>
              <li>초기화면 이미지 변경</li>
              <li>관리자용 url 추가 : /timao/payment/recalc/all/20131010/</li>
            </ul> </td></tr>

            <th>2017.11.06</th><tr><td></td></tr>
            <th></th><tr><td><ul>
              <li>이전 수금일자가 표시되지 않는 문제 수정</li>
              <li>판매항목 수정 시, 수정된 내용으로 바로 표시되도록 수정</li>
              <li>수금 버튼을 누르면 , 무조건 '이전 수금후 남은 잔액'이 우선적으로 차감되도록 수정 </li>
              <li>메인페이지 이미지 변경</li> 
            </ul> </td></tr>

            <th>2017.10.30</th><tr><td></td></tr>
            <th></th><tr><td><ul>
              <li>누적합계 글자색상 변경</li>
              <li>판매기록 입력 시 메뉴명의 유효성 검사 로직 수정 ex) "얼박 반설"  콤마"," 없이 구분된 메뉴명은 실패하도록 수정 </li>
              <li>판매기록 입력 화면에서 "호수 - 상호"의 셀 넓이를 조정함</li>
            </ul> </td></tr>
     
          </table> 

      </div> <!-- 50%; -->
</div> <!-- end of col-md-8 -->
<div class="col-md-2">
      <div id="memo" >
            <h4>통계페이지 표기(예정)항목 </h4>
            <ul>
              <li>아이디어 수집중</li>
            <!--   <h4> 판패현황-통계</h4>
              <li> 전체 거래처 수 </li>
              <li> 소모품 별 주단위 소모량 조회</li> -->
            </ul>
            <br>
            <h3>version : {{versions}}</h3>
            <ul style="list-style-type:circle">
              <li> 최근 업데이트: {{lastest}}</li>
              <li> 업데이트 정보: {{comment}}</li>
              <li> 최초 수정일: {{created}}</li>
            </ul>
      </div> 



</div> <!-- end of col-md-3 -->
</div> <!-- end of row -->
<script type="text/javascript">
// $(document).ready(function(){
//   var data = [
//     ['총매출', 12260],['현금매출', 45000] 
//   ];
//    $(function(){ 
//      jQuery.jqplot ('chart1', [data] ,
//         { 
//           title: '일일매출',
//           seriesDefaults: {
//             // Make this a pie chart.
//             renderer: jQuery.jqplot.PieRenderer, 
//             rendererOptions: {
//               fill:false,
//               // Put data labels on the pie slices.
//               // By default, labels show the percentage of the slice.
//               showDataLabels: true
//             }
//           },
//           legend:{
//               show:true, 
//               rendererOptions: {
//                   numberRows: 2
//               }, 
//               location:'sw',
//               marginTop: '15px'
//           }  
//         });
//   });

// });


</script>
{% endblock %}

