{% extends "base_generic.html" %}

{% block content %}

<div class="row">
<div class="col-md-2">
</div> <!-- end of col-md-1 -->
<div class="col-md-8">
</div> <!-- end of col-md-8 -->
<div class="col-md-2">
</div> <!-- end of col-md-3 -->
</div> <!-- end of row -->

	<form action="/tiamo/upload/" method="post" enctype="multipart/form-data">{% csrf_token %}
		File : 
		<input type="file" name="file" id="id_file"/>
		<input type="submit" value="UPLOAD" />

	</form>

{% endblock %}