{% extends "base_generic.html" %}

{% block content %}
<style type="text/css">
.jumbotron {margin-top: 40px;}
.form-row { margin-bottom: 10px;}
.invalid-feedback {display: none;}
.error_msg {color: red;    font-size: 20px;}
</style>
<script type="text/javascript">
$(document).ready(function(){
	$('#materials').autocomplete({
		source: getMaterialsSource()
	});

	$( "form" ).submit(function( event ) {
		var material = $(this).find('[name=material]').val();
		var seller = $(this).find('[name=seller]').val();
		var count = $(this).find('[name=count]').val();
		var unit_price = $(this).find('[name=unit_price]').val();
		var total_price = $(this).find('[name=total_price]').val();
		var comment = $(this).find('[name=comment]').val();
		var date = $(this).find('[name=date]').val();

		$.ajax({
			dataType: 'json',
			url: '/tiamo/purchase/create/',
			type:'POST',
			data: { 
				'material': material,
				'seller': seller,
				'count': count,
				'unit_price': unit_price,
				'total_price': total_price,
				'comment': comment,
				'date': date,
				'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
			success: function (data){
				console.log(data.msg);
				if (data.error == true){
					$('#error_msg').html(data.msg);
				} else{
					$('#error_msg').html("");
					setDefaultValues();
				}

		} // end of success
		});  //end of ajax
		//ajax here 
          event.preventDefault();

        });
});

// autocomplate을 위한 source[] 데이터를 만들어 반환한다.
// source[] 는 materials의 name list 이다.
function getMaterialsSource(){
	var result_data = [];
	var mst = {{js_materials|safe}};
	for (var i = 0; i < mst.length; i++){
		result_data.push(mst[i]['name']);
	}
	return result_data;
};

function setValues_by_material_name(_material_name){
	var mst = {{js_materials|safe}};
	var temp = '';
	for (var i = 0; i < mst.length; i++) {
		if (mst[i]['name'] == _material_name){
			setSeller(mst[i]['seller']['id']);
			setCount(1);
			setUnitPrice(mst[i]['price']);


			
			setMaterialID(mst[i]['id']);
			calcTotalPrice();
			return 0;
		}
	}
	return 0;
};
function setDefaultValues(){
	setSeller('');
	setCount(0);
	setUnitPrice(0);
	setMaterialID('');
	calcTotalPrice();
	setComment('');
	setMaterialName('');
};
function setSeller(_selected_material_id){
	$('#seller').val(_selected_material_id);
};
function setCount(_num){
	$('#count').val(_num);
};
function setUnitPrice(_price){
	$('#unit_price').val(_price);
};
function setMaterialID(_material_id){
	$('#materials_id').val(_material_id);
};
function setMaterialName(_material_name){
	$('#materials').val(_material_name);
};
function calcTotalPrice(){
	var count  = $('#count').val();
	var price  = $('#unit_price').val();

	$('#total_price').val(count * price);
};
function setComment(_comment){
	$('#comment').val(_comment);
};
</script>

<div class="row">
<div class="col-md-2">
	<h1>신규매입 기록</h1>
</div> <!-- end of col-md-2 -->

<div class="col-md-7">

 <div class="jumbotron">
 	
	<form method="POST" action="{% url 'purchase_create'%}" >{%csrf_token%}
		<div class="form-row"> 
	    	<div class="col">
	    		<label for="date"><a href='javascript:void(0);' onclick="setDateToday();">오늘</a></label> 
	    		<input id="datepicker" class="datepicker" type="text" name="date" value="{{today}}" required/>
	    	</div>
		</div>

	  	<div class="form-row">
			<div class="col">
				<label for="materials">Material</label>
				<input class="form-control" type="text" placeholder="Type here..." id="materials"  onchange="setValues_by_material_name(this.value)" >
				<input type=hidden name="material" id="materials_id">
			</div>
			<div class="col">
				<label for="seller">Seller</label>
				<select class="custom-select form-control" id="seller" name="seller" required>
					<option value="" selected>Choose...</option>
					{% for item in sellers%}
					<option value="{{item.id}}">{{item.name}}</option>
					{% endfor %}
				</select>
			</div>
	  	</div>

		<div class="row">
			<div class="col-md-4 mb-3">
				<label for="count">Count</label>
				<input type="text" class="form-control is-invalid" id="count" name="count" value="0" onchange="calcTotalPrice()" required>
				<div class="invalid-feedback">
				Please provide a valid count.
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<label for="unit_price">Unit price</label>
				<input type="text" class="form-control is-invalid" id="unit_price" name="unit_price" value="0" onchange="calcTotalPrice()" required>
				<div class="invalid-feedback">
				Please provide a valid Unit price.
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<label for="total_price">Total price</label>
				<input type="text" class="form-control is-invalid" id="total_price" name="total_price" value="0" required>
				<div class="invalid-feedback">
				Please provide a valid Total price.
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col">
				<label for="comment">Comment</label>
				<input type="text" class="form-control" name ="comment" id="comment">
			</div>
		</div>

	  	<button class="btn btn-primary" type="submit">저장</button>
		<p class="error_msg" id="error_msg"> </p>
	</form>

</div>

</div> <!-- end of col-md-8 -->
<div class="col-md-2">
</div> <!-- end of col-md-2 -->
</div> <!-- end of row -->

{% endblock %}

