{% extends "base_generic.html" %}

{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.purchase-data').DataTable( {
	    	  "pageLength": 25 });
	});

</script>
<div class="row">
<div class="col-md-2">
	<h1>{{title}}</h1> 
	<h3>{{month}} 월</h3>
</div> <!-- end of col-md-2 -->

<div class="col-md-8">
	<h3>{{month}} 월 매입처별 누적 구매금액</h3>
	<table class="table table-condensed table-hover table-striped table-sm display purchase-data"  width="100%"><thead>
		 
		<tbody> 
		{% for item in total_prices%}
			<tr ><th style="width:150px;">{{item.seller}}</th><td class="number">{{item.total_price}}</td></tr>
		{% endfor %}
		</tbody>
	</table>
	<br><br>
	<h3>{{month}} 월 상품별 누적 구매금액 (예시)</h3>
	<table class="table table-condensed table-hover table-striped table-sm display purchase-data"  width="100%"><thead>
		<thead><tr>
			 
			<th>상품</th><th>누적구매가</th><th>구매주기</th><th>평균 매입단가</th><th>최저단가</th><th>비고</th>
			 
		</tr></thead>
		<tbody>
		<tr>  
			<th>자몽에이드</th><td class="number">63000</td> <td> 16일</td><td>33000</td><td>32000</td><td><span class="glyphicon glyphicon-triangle-bottom
"></span><span class="glyphicon glyphicon-triangle-top"></span></td>
		{% for item in materials%}
			<th>{{item.name}}</th><td class="number">{{item.total}}</td> <td> {{item.period}}일</td><td>{{item.ave_price}}</td><td>{{item.min_price}}</td><td><span class="glyphicon glyphicon-triangle-bottom
"></span><span class="glyphicon glyphicon-triangle-top"></span></td>
		{% endfor %}
		</tr></tbody>
	</table>

</div> <!-- end of col-md-8 -->

<div class="col-md-2">
	<h1><span class="glyphicon glyphicon-object-align-bottom"/></h1>
	<div id="graph" style="width:300px; height:300px;"></div>
 
</div> <!-- end of col-md-2 -->
</div> <!-- end of row -->
 


{% endblock %}