{% extends "base_generic.html" %}

{% block content %}

<div class="row">
<div class="col-md-2">
</div> <!-- end of col-md-1 -->
<div class="col-md-8">
		<form action="" method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Create" />
		</form>
</div> <!-- end of col-md-8 -->
<div class="col-md-2">
</div> <!-- end of col-md-3 -->
</div> <!-- end of row -->
 


{% endblock %}