{% extends "base_generic.html" %}

{% block content %}

<div class="row">
<div class="col-md-2">
	<h1>{{recode.created}}일 마지막 저장된 정보</h1> 
</div> <!-- end of col-md-2 -->

<div class="col-md-7">

		 	{{recode.id}}
			{{recode.material }}
		    {{recode.seller }}
		    {{recode.count }}
		    {{recode.now_unit_price }}
		    {{recode.total_price }}
		    {{recode.comment }}
		    <br>
		<br><br><br><br>
		 <a href="{% url 'purchase_create' %}"> 추가</a>   

		<br><br><br><br>
		 <a href="{% url 'purchase_update' recode.id %}"> 수정</a>   
</div> <!-- end of col-md-8 -->

<div class="col-md-2">
</div> <!-- end of col-md-2 -->
</div> <!-- end of row -->
 

{% endblock %}