{% extends "base_generic.html" %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function() {

	$('.purchase-data').DataTable( {
    	  "pageLength": 25 });
    	   
	$(function(){
   	//1번째 입력값 (그려진 영역의 id값)
   	//2번째 입력값 (그래프내에 들어갈 데이터 값)
    	$.jqplot ('graph', [[1,2,3,4,5,300,30]],
		{
   			title:'그래프 테스트',
   			axes:{
   				xaxis:{
   					label:'X좌표 제목'
   				},
   				yaxis:{
   					label:'Y좌표 제목'
   				}
   			}
		});
	});


	});

</script>
<div class="row">
<div class="col-md-2">
	<h1>{{title}}</h1> 
	<h4>{{date}}</h4>
</div> <!-- end of col-md-2 -->

<div class="col-md-7">
<table class="table table-condensed table-hover table-striped table-sm display purchase-data"  width="100%"><thead>
		<tr><th>주문일자</th>
			<th>ID</th>
			<th>품명</th>
			<th>판매자</th>
			<th>수량</th>
			<th>단가</th>
			<th>합계</th>
		</tr></thead>
		<tbody>
		{% for recode in recodes%}
		<tr><td><a href="{% url 'purchase_list' 20170819 %}">{{recode.orderdate}}</a></td>
			<td>{{recode.id}}</td> <td>{{recode.material }}</td>
		    <td>{{recode.seller }}</td> <td class="number">{{recode.count }}</td> <td class="number">{{recode.now_unit_price }} <td class="number">{{recode.total_price }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div> <!-- end of col-md-8 -->

<div class="col-md-2">
	<h1><span class="glyphicon glyphicon-object-align-bottom"/></h1>
	<div id="graph" style="width:300px; height:300px;"></div>
 
</div> <!-- end of col-md-2 -->
</div> <!-- end of row -->
 


{% endblock %}