{% extends "base_generic.html" %}

{% block content %}
 <div class="col-md-2"> 
<h1>{{title}}</h1>
       <ul>
        {% for param in date_params_after %}
        <li><a href=" {% url 'order_daily_list' param.date %}"> {{param.name}} </a> </li>
        {% endfor %}
        <li>{{date_name}}<span class="glyphicon glyphicon-backward"></span></li>
        {% for param in date_params_before %}
        <li><a href=" {% url 'order_daily_list' param.date %}"> {{param.name}} </a> </li>
        {% endfor %}
        <li>--------</li>
        <li><a href=" {% url 'order_main' date %}">{{date}} 판매현황</a><br></li>
      </ul>
</div>
<div class="col-md-8"> 
<table class="table table-condensed table-hover table-striped table-sm display grid-data"  width="100%">
	<thead>
	<tr>
		<th>ID</th>
		<th>주문자</th>
		<th>판매상품</th>
		<th>수량</th>
		<th>주문날짜</th>
		<th>비고</th>
	</tr>
	</thead>
	<tbody>
	{% for order in rlist %}
	<tr>

		<td>{{order.id}}</td>
		<td>{{order.client}} - {{order.client.name}}</td> 
		<td>{{order.product }}</td>
		<td>{{order.count}}</td>
		<td>{{order.orderdate }}</td> 
		<td>{{order.received }}</td> 
		<td>{{order.comment }}</td>   
	 
	</tr>	
	{% endfor %}
	</tbody>
</table> 
</div>
<div class="col-md-1"> 
      <div>
        <ul>
          <li><h4> 입력된 데이터 수  </h4> {{total_raw_count}} </li>
        </ul>
      </div>
</div>
{% endblock %}