
{% extends "base_generic.html" %}

<!-- 막장부 입력/ 판매한 상품을 입력한다 -->
{% block content %}
{% load static %}
<script src="{% static 'js/order_addData1.js' %}"></script>

<style>  
table { border-collapse:collapse; }  
th, td { border:1px solid gray; }
</style>

<div class="row">
<div class="col-md-2"> <h1>신규 작성</h1> </div>
<div class="col-md-8">
	<form id= "myform" name="myform" class="form-horizontal" style="margin:20px; width:100%;" action="{% url 'create_order'  %}" method="post" onsubmit="" onkeydown="return captureReturnKey(event)">{% csrf_token %}

	    <label for="date">DATE :</label> <input id="datepicker" class="datepicker" type="text" name="date" />    
	    <a href='javascript:void(0);' onclick="setDateToday();">오늘</a>

		<table class="table">
			<!-- 주문자는 추후 검색기능을 추가함. -->
			<thead><th>주문자(거래처) </th> <th>판매상품</th>  </thead>
			<tbody id="tbody">

							<!--  table body here -->
				 
		    </tbody>     
	    </table>
		<input id="btn_addRaw" type="button" value="행 추가" onclick="addRaw()"><input type="button" value="행 삭제" onclick="deleteRaw()">
	    <!--  {{ form.as_p }} -->
	    <input id="submit" type="submit"  value="전송" disabled/>
	</form>
</div>
<div class="col-md-1">
<div class="panel panel-default">
	<div class="panel-body">
		<div id="msg_default"> 수량 1은 생략 가능. <br> 메뉴명과 수량은 띄어쓰기(공백)로 구분함 <br> 여러 메뉴를 입력할 경우 콤마 (,)로 구분함<br></div>
		<div id="lengthWarnning" class="alert alert-warning" role="alert" hidden=true>글자수를 초과할 위험이 있습니다. </div>
		<div id="validationError_msg" class="alert alert-danger" role="alert" hidden=true>인식할 수 없는 항목이 있습니다.(!!!) </div>
		<div id="dateMissing" class="alert alert-warning" role="alert" hidden=true>날짜 지정을 빼먹으셨어요. </div>
	</div>
</div> 
 </div>
</div>

 


 <script type="text/javascript">
 
 $(document).ready(function(){
  // 클라이언트 목록을 가져온다.
  $.ajax({
    dataType: 'json',
    url : '/mst/client/list/',
    type:'POST',
    data: { 'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
    success: function (data){
      l_client_data = data['posData'];
      l_client_posnum = data['posnumList'];
      
 
      draw_tablebody(l_client_posnum);        
  		
    }
  });
   
  //setDateToday("myform");

});



// client id 에 대해 이름을 표시한다
function add_client_label (clientID, labelID) {
	var client = document.getElementById(clientID).value
	var clientname  
	for (var i = l_client_data.length - 1; i >= 0; i--) {
		var posnum = l_client_data[i].segment + l_client_data[i].posnumber ;
		if (posnum == client){
			clientname = l_client_data[i].name
		} 
	};
	
	var target_lebel = document.getElementById(labelID);
	if (typeof clientname == "undefined"){
		$('#'+clientID).addClass("alert alert-danger");
	}else{
		$('#'+clientID).removeClass("alert alert-danger");
	}
	target_lebel.innerText = clientname;
};

function menunameCheck (_id) {
	// onchange 핸들러로 등록한다.
	// menuname 항목을 가져온다. 
	var data = $('#menuname_'+_id).val()
	// 서버에 전송한다. 
	$.ajax({
		dataType: 'json',
		url: '/validation/menuname/',
		type:'POST',
		data: { 'data': data,
				'id': _id,
				'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
		success: function (result){
			if (result.data == 'true'){
				$('#validationError_msg').hide();
				$('#span_'+_id+'_Error').hide();
				$('#span_'+_id+'_Valid').show();
				$('#msg_default').show();
				$('#total_'+_id).html(" "+result.total);
				$('#menuname_'+_id).removeClass("alert alert-danger");
			}
			else{
				$('#validationError_msg').show();
				$('#span_'+_id+'_Valid').hide();
				$('#span_'+_id+'_Error').show();
				$('#menuname_'+_id).addClass("alert alert-danger");
				$('#msg_default').hide();
			}
			checkCanSubmit()
		}
	});
}

function checkCanSubmit(){
	if ($('#datepicker').val().length >= 8){
		$('#submit').prop('disabled', false);
	}
}


function draw_tablebody(l_client_posnum){
	// tr td 그리기  
	for (var id = 0; id < 30; id++){
		var trtd = "<tr><td> "+ (id+1) +".  "
		trtd += "<input id=\"client_"+id+ "\" name=\"client[]\"  type=\"text\" maxlength=\"6\" size=\"6\"> "
		trtd += "<label id=\"lb_"+id+"\"></label></td><td>"
		trtd += "<input id=\"menuname_"+id+ "\" class=\"products\" name=\"menuname[]\" type=\"text\" maxlength=\"50\" size=\"50\">"
		trtd += "<span id=\"span_"+id+"_Error\" class=\"glyphicon glyphicon-remove\" style=\"display:none\"> </span>"
		trtd += "<span id=\"span_"+id+"_Valid\" class=\"glyphicon glyphicon-ok\" style=\"display:none\">"
		trtd += "</span><span id=\"total_"+id+"\"></span></td></tr>"
		$('#tbody').append(trtd);
		var pos = id.toString()
 
	}

  	$('#client_0').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_0', 'lb_0'); });
	$('#menuname_0').blur(function() {  menunameCheck ('0'); }).keyup(function() { lengthCheck('menuname_0'); }); 
  	$('#client_1').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_1', 'lb_1'); });
	$('#menuname_1').blur(function() {  menunameCheck ('1'); }).keyup(function() { lengthCheck('menuname_1'); }); 
   	$('#client_2').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_2', 'lb_2'); });
	$('#menuname_2').blur(function() {  menunameCheck ('2'); }).keyup(function() { lengthCheck('menuname_2'); }); 
   	$('#client_3').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_3', 'lb_3'); });
	$('#menuname_3').blur(function() {  menunameCheck ('3'); }).keyup(function() { lengthCheck('menuname_3'); }); 
   	$('#client_4').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_4', 'lb_4'); });
	$('#menuname_4').blur(function() {  menunameCheck ('4'); }).keyup(function() { lengthCheck('menuname_4'); }); 
   	$('#client_5').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_5', 'lb_5'); });
	$('#menuname_5').blur(function() {  menunameCheck ('5'); }).keyup(function() { lengthCheck('menuname_5'); }); 
   	$('#client_6').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_6', 'lb_6'); });
	$('#menuname_6').blur(function() {  menunameCheck ('6'); }).keyup(function() { lengthCheck('menuname_6'); }); 
   	$('#client_7').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_7', 'lb_7'); });
	$('#menuname_7').blur(function() {  menunameCheck ('7'); }).keyup(function() { lengthCheck('menuname_7'); }); 
   	$('#client_8').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_8', 'lb_8'); });
	$('#menuname_8').blur(function() {  menunameCheck ('8'); }).keyup(function() { lengthCheck('menuname_8'); }); 
   	$('#client_9').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_9', 'lb_9'); });
	$('#menuname_9').blur(function() {  menunameCheck ('9'); }).keyup(function() { lengthCheck('menuname_9'); }); 
 
   	$('#client_10').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_10', 'lb_10'); });
	$('#menuname_10').blur(function() {  menunameCheck ('10'); }).keyup(function() { lengthCheck('menuname_10'); }); 
   	$('#client_11').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_11', 'lb_11'); });
	$('#menuname_11').blur(function() {  menunameCheck ('11'); }).keyup(function() { lengthCheck('menuname_11'); }); 
   	$('#client_12').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_12', 'lb_12'); });
	$('#menuname_12').blur(function() {  menunameCheck ('12'); }).keyup(function() { lengthCheck('menuname_12'); }); 
   	$('#client_13').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_13', 'lb_13'); });
	$('#menuname_13').blur(function() {  menunameCheck ('13'); }).keyup(function() { lengthCheck('menuname_13'); }); 
   	$('#client_14').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_14', 'lb_14'); });
	$('#menuname_14').blur(function() {  menunameCheck ('14'); }).keyup(function() { lengthCheck('menuname_14'); }); 
   	$('#client_15').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_15', 'lb_15'); });
	$('#menuname_15').blur(function() {  menunameCheck ('15'); }).keyup(function() { lengthCheck('menuname_15'); }); 
   	$('#client_16').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_16', 'lb_16'); });
	$('#menuname_16').blur(function() {  menunameCheck ('16'); }).keyup(function() { lengthCheck('menuname_16'); }); 
   	$('#client_17').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_17', 'lb_17'); });
	$('#menuname_17').blur(function() {  menunameCheck ('17'); }).keyup(function() { lengthCheck('menuname_17'); }); 
   	$('#client_18').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_18', 'lb_18'); });
	$('#menuname_18').blur(function() {  menunameCheck ('18'); }).keyup(function() { lengthCheck('menuname_18'); }); 
   	$('#client_19').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_19', 'lb_19'); });
	$('#menuname_19').blur(function() {  menunameCheck ('19'); }).keyup(function() { lengthCheck('menuname_19'); }); 
 
   	$('#client_20').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_20', 'lb_20'); });
	$('#menuname_20').blur(function() {  menunameCheck ('20'); }).keyup(function() { lengthCheck('menuname_20'); }); 
   	$('#client_21').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_21', 'lb_21'); });
	$('#menuname_21').blur(function() {  menunameCheck ('21'); }).keyup(function() { lengthCheck('menuname_21'); }); 
   	$('#client_22').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_22', 'lb_22'); });
	$('#menuname_22').blur(function() {  menunameCheck ('22'); }).keyup(function() { lengthCheck('menuname_22'); }); 
   	$('#client_23').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_23', 'lb_23'); });
	$('#menuname_23').blur(function() {  menunameCheck ('23'); }).keyup(function() { lengthCheck('menuname_23'); }); 
   	$('#client_24').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_24', 'lb_24'); });
	$('#menuname_24').blur(function() {  menunameCheck ('24'); }).keyup(function() { lengthCheck('menuname_24'); }); 
   	$('#client_25').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_25', 'lb_25'); });
	$('#menuname_25').blur(function() {  menunameCheck ('25'); }).keyup(function() { lengthCheck('menuname_25'); }); 
   	$('#client_26').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_26', 'lb_26'); });
	$('#menuname_26').blur(function() {  menunameCheck ('26'); }).keyup(function() { lengthCheck('menuname_26'); }); 
   	$('#client_27').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_27', 'lb_27'); });
	$('#menuname_27').blur(function() {  menunameCheck ('27'); }).keyup(function() { lengthCheck('menuname_27'); }); 
   	$('#client_28').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_28', 'lb_28'); });
	$('#menuname_28').blur(function() {  menunameCheck ('28'); }).keyup(function() { lengthCheck('menuname_28'); }); 
   	$('#client_29').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_29', 'lb_29'); });
	$('#menuname_29').blur(function() {  menunameCheck ('29'); }).keyup(function() { lengthCheck('menuname_29'); }); 
   	$('#client_30').autocomplete({source: l_client_posnum}).blur(function(){add_client_label('client_30', 'lb_30'); });
	$('#menuname_30').blur(function() {  menunameCheck ('30'); }).keyup(function() { lengthCheck('menuname_30'); }); 
  
  


};
 </script>
{% endblock %}
 