{% extends "base_generic.html" %}

{% block content %}
 
<h1>{{ order.id }}	주문정보 </h1>
<table class = "table table-striped">
	<tr>
		<th>ID</th>
		<th>주문자</th>
		<th>판매상품</th>
		<th>수량</th>
		<th>주문날짜</th>
		<th>비고</th>
	</tr>
		<tr>
		<td>{{order.id}}</td>
		<td>{{order.client }}</td> 
		<td>{{order.product }}</td>
		<td>{{order.count}}</td>
		<td>{{order.orderdate }}</td> 
		<td>{{order.comment }}</td>   
	</tr>	 
</table>
{% endblock %}