{% extends "base_generic.html" %}

{% block content %}




<div class="col-md-2">

    <h1>{{title}}</h1>
    <ul>
      {% for param in date_params_after %}
      <li><a href=" {% url 'order_main' param.date %}"> {{param.name}} </a> </li>
      {% endfor %}
      <li><h4>{{date_name}}</h4><span class="glyphicon glyphicon-backward"></span></li>
      {% for param in date_params_before %}
      <li><a href=" {% url 'order_main' param.date %}"> {{param.name}} </a> </li>
      {% endfor %}
      <li>--------</li>
      <li><a href=" {% url 'order_log_daily' date %}">{{date}} 막장부</a><br></li>
    </ul>
</div>
<div class="col-md-8" style="padding:0;"> 
      <!-- jquery data example table -->
      <table  class="table table-condensed table-hover table-striped table-sm display grid-data"  width="100%">
          <thead>
              <tr>
                  <th style="width:30px;">c_id</th>
                  <th style="width: 160px;">호수-상호</th>
                  <th>당일판매</th>
                  <th style="width:100px;">당일합계</th>
                  <th style="width:100px;" class="total_number" title="합계(쿠폰)">누적합계 </th>
                  <th style="width:100px;" >누적쿠폰</th>
                  <th style="width:30px;"></th>
              </tr>
          </thead>
          <tbody>
          	{% for data in rlist %}
              <tr class="grid-data_row">
                  <td >{{data.client.id}}</td> 
                  <td id="client-{{data.client.id}}">{{data.client}} - {{data.client.name }} 
                    {% if data.client.receipt == 1 %}
                    <span id="span_1_{{data.client.id}}" class="glyphicon glyphicon-tag" style="color:IndianRed" title="무지영수증"/>
                    {% elif data.client.receipt == 2 %}
                    <span id="span_2_{{data.client.id}}"  class="glyphicon glyphicon-tags" style="color:Purple" title="간이영수증"/></td>
                    {% endif %}</td> 
                  <td id="product-{{data.client.id}}">
                    {% if data.received %}<span class="label label-success">Paid</span> {% endif %}
                    {{data.products}}</td> 
                  <td id="today_total-{{data.client.id}}" class="number">{{data.total_sales}}</td>
                  <td id="unpaid_total-{{data.client.id}}"> <a href="#" onclick="show_order_history({{data.client.id}})"> {{data.unpaid_total}} </a></td>
                  <td id="coupon_total-{{data.client.id}}">{{data.applied_coupon}}  </td>
                  <td >
                    {% if data.received == False %}
                    <a href="#" onclick="update_products_dialog_open({{data.client.id}})"> <span class="glyphicon glyphicon-pencil" title="수정"/></a> {% endif %}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
</div>
<div class="col-md-2"> 
      <div id="order-update-dialog" title="주문내용 수정" style="width: 700px;"></div>
      <div id="dialog_msg"><div id="body"></div></div>
      <!-- <div id="chart1" style="height:300px;width:300; "></div> -->
        <ul>
          <h1><span class="glyphicon glyphicon-object-align-bottom"/></h1>
          <li><h4> 총매출 </h4> <span class="number" id="today_total_sales">{{today_total_sales}}</span> 원</li>
          <li><h4> 현금매출 </h4> <span class="number">{{cash_total}}</span> 원</li>
        </ul>
</div>




 

 <script type="text/javascript">
// $(document).ready(function() {
//   var today_total_sales = $("#today_total_sales" ).val()
//   var cash_total = 200


//   var ajxrenderer = function (argument) {
//     return [ ['총매출', 300],['현금매출', 100] ];
//   }
//   $(function(){ 
//      jQuery.jqplot ('chart1',[],
//         { 
//           title: '일일매출',
//           dataRenderer: ajxrenderer,
//           seriesDefaults: {
//             // Make this a pie chart.
//             renderer: jQuery.jqplot.PieRenderer, 
//             rendererOptions: {
//               fill:false,
//               // Put data labels on the pie slices.
//               // By default, labels show the percentage of the slice.
//               showDataLabels: true
//             }
//           },
//           legend:{
//               show:true, 
//               placement: 'outside', 
//               rendererOptions: {
//                   numberRows: 2
//               }, 
//               location:'s' 
//           }  
//         });
//   });

// }); // end of ready()

function update_products_dialog_open (client_id) {
  var id = client_id;
 
  
  var data =  '';
  $.ajax({
    dataType: 'json',
    url: '/tiamo/order/product_txt/',
    type:'POST',
    data: { 
        'client_id': client_id,
        'date' : {{date}},
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
    success: function (data){
        $('#order-update-dialog').html(order_update_data(data)).dialog({
                                                        modal: true,
                                                        buttons: {
                                                          Cancle: function() {
                                                            $( this ).dialog( "close" );
                                                          }
                                                        }
                                                      });
        $( "#history_form" ).submit(function( event ) {
          var new_products = $('#new_products').val();
          order_update_submit (client_id, {{date}}, new_products);
          event.preventDefault();
        });
 
    } // end of success
  });  //end of ajax
}; //end of update_products_dialog_open()

 
    
    
  
function order_update_data (data) {
    var result = 
    "<form id=\"history_form\"><div class=\"form-group\" >";
    result = result + "<input type=\"text\" class=\"form-control\" id=\"new_products\" aria-describedby=\"Help\" placeholder=\""+data.history+"\">";
    result = result+ "<small id=\"Help\" class=\"form-text text-muted\">막장부 및 판매현황이 해당 내용으로 업데이트 됩니다.<br> <b>유효성 검사를 하지 않으니, 입력 내용을 다시한 번 확인하세요!!!</b></small></div><button type=\"submit\" class=\"btn btn-primary\">Submit</button></form>";

    return result
};



function order_update_submit (client_id, target_date, new_products) {
  if (new_products == ''){
    alert('내용을 입력하세요.');
    return
  }
  $.ajax({
      dataType: 'json',
      url: '/tiamo/order/update/',
      type:'POST',
      data: { 
          'client_id': client_id,
          'products': new_products,
          'target_date': target_date,
          'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
      success: function (data){
          if (data.result == false){
            console.log(data);
            alert(data.msg);
          } else{
            $('#order-update-dialog').dialog( "close" );
            $('#product-'+client_id).html(new_products);
            $('#today_total-'+client_id).html(data.today_total);
            $('#unpaid_total-'+client_id).html(data.unpaid_total);
            $('#coupon_total-'+client_id).html(data.coupon_total);

          }

      } // end of success
    });  //end of ajax
  //ajax here 
};
</script>
{% endblock %}