{% extends "base_generic.html" %}

{% block content %}

<style type="text/css">
/* body {
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size: 130%;
}*/
.btn-default {
    width: 120px;
    box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2), 0 0px 1px 0 rgba(0,0,0,0.19);
    margin: 2px
}

</style>

<meta name="viewport" content="width=device-width, initial-scale=1">


{% load static %}
<!-- <script src="{% static 'js/jquery.smartmenus.bootstrap-4.js' %}"></script> -->
<!-- <link rel="stylesheet" href="{% static 'css/jquery.smartmenus.bootstrap-4.css' %}"> -->


 
<form>{% csrf_token %}</form>
<div class="col-md-1"></div> <!-- end of col-md-1 -->

<div class="col-md-9">

      <h1> {{title}}</h1> 
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">4F </span></a></li>
          <li><a href="#tabs-2">3F</a></li>
          <li><a href="#tabs-3">그 외</a></li>
        </ul>
        <div id="tabs-1" >
          <div class="row">
            <div id="accordion-1" class="col-xs-8 col-sm-6">
                A
                {% for recode in 4flist%}
                {% if recode.client.segment == 'A' %}
                    {% include 'client_list_accordian.html' %} 
                {% endif %}
                {% endfor %}
            </div> <!-- end of accordion -->
            <div id="accordion-2" class="col-xs-4 col-sm-6">
                B
                {% for recode in 4flist%}
                {% if recode.client.segment == 'B' %}
                    {% include 'client_list_accordian.html' %} 
                {% endif %}
                {% endfor %}

                C
                {% for recode in 4flist%}
                {% if recode.client.segment == 'C' %}
                    {% include 'client_list_accordian.html' %} 
                {% endif %}
                {% endfor %}

                N
                {% for recode in 4flist%}
                {% if recode.client.segment == 'N' %}
                    {% include 'client_list_accordian.html' %} 
                {% endif %}
                {% endfor %}                
            </div>  <!-- end of accordion -->
          </div>
        </div>   <!-- end of tabs-1 -->

        <div id="tabs-2">
             <div class="row">
              {% include 'client_list_3f.html' %}
             </div >
        </div>  <!-- end of tabs-2 -->


        <div id="tabs-3">
          <div class="row">
                {% include 'client_list_2f_5f_etc.html' %}
          </div>

        </div> <!-- end of tabs-->

</div> <!-- end of col-md-9 -->
<div class="col-md-2">
</div>



<script type="text/javascript">
$(document).ready(function() {
  $( "#accordion-1" ).accordion({
    collapsible: true
  });
  $( "#accordion-2" ).accordion({
    collapsible: true
  });
  $( "#accordion-3" ).accordion({
    collapsible: true
  });
  $( "#accordion-4" ).accordion({
    collapsible: true
  });
  $( "#accordion-5" ).accordion({
    collapsible: true
  });
  $( "#accordion-6" ).accordion({
    collapsible: true
  });
  $( function() {
    $( "#tabs" ).tabs();
  } );


  $('.datepicker').datepicker({dateFormat:'yy-mm-dd'});

}); // end of ().ready()

  function input_date_body(client_id){
    var result_data = ''
    result_data += "<div id = \"input_date\" "
    result_data += "<label for=\"date\">DATE :</label> <input id=\"date_"+client_id+"_datepicker\" class=\"datepicker\" type=\"text\" name=\"date\"/>"
    result_data += "<a href='javascript:void(0);' onclick=\"setDateToday()\"><b>오늘</b></a>"
    result_data += "<p id=\"msg\"></p></div>"
                          
    return result_data
  };


  //날짜입력 용 다이얼로그 보이기
  function show_received_date_box (client_id) {
    $('#dialog_'+client_id+'_msg #body').html(input_date_body(client_id));
    $('.datepicker').datepicker({dateFormat:'yy-mm-dd'});
    $('#dialog_'+client_id+'_msg').dialog({
      modal: true,
      title:"수금한 날짜지정",
      buttons: {
        Cancel: function() {
          $( this ).dialog( "close" );
        },
        Confirm: function(){
          var until_date = $('#date_'+client_id+'_datepicker').val();
          if (until_date){
            
            send_received_date_to_server(client_id, until_date);
            $( this ).dialog( "close" );
          }
          else{
            console.log("날짜 입력 오류 ");
          }
        } 
      }
    }); 
  };
 

// base_generic.html > input_money_amount ()
 

  //금액입력 용 태그 보이기
  function show_received_amount_box (client_id) {
    $('#dialog_'+client_id+'_msg #body').html(input_money_amount(client_id))
    $('#dialog_'+client_id+'_msg').dialog({
      modal: true,
      title: "부분결제 금액지정",
      buttons: {
        Cancel: function() {
          $('#error_span').hide();
          // $('#dialog-body').html("");
          $( this ).dialog( "close" );
        },
        Confirm: function(){
          var received_money = $('#received_'+client_id+'_money').val();
          if (received_money > 500) {
            
            send_received_money_to_server(client_id, received_money);
            $('#error_span').hide();
            $( this ).dialog( "close" );
          }
          else{
            $('#received_money').addClass('warning-placeholder');
            $('#error_span').show();
            alert("받은 금액이 500원보다 작음!");
            console.log("받은 금액 오류!");
          }
        } 
      }
    }); 
  };





function send_received_date_to_server(client_id, until_date){
  // alert(until_date);
  $.ajax({
    dataType: 'json',
    url: '/tiamo/payment/received/',
    type:'POST',
    data: { 
        'client_id': client_id,
        'until_date': until_date,
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
    success: function (data){
        if (data.msg == "success"){
          //data 갱신
          $('#'+client_id+"-buttons").html("");
          $('#unpaid_total_'+client_id).html("수금 후 잔액 : "+ data.remain);          
          //초기화
          $('#history-' + client_id).html("");

          
        } else {
          alert(data.msg);
          console.log(data.msg);
          $('#msg').val(data.msg);
        }
    } // end of success
  });  //end of ajax
};

function payment_received_until_yesterday(client_id){
  $.ajax({
    dataType: 'json',
    url: '/tiamo/payment/received/',
    type:'POST',
    data: { 
        'client_id': client_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
    success: function (data){
        if (data.msg == "success"){

          //data 갱신
          $('#'+client_id+"-buttons").html("");
          $('#unpaid_total_'+client_id).html("수금 후 잔액 : "+ data.remain);
          //초기화
          $('#history-' + client_id).html("");
        } else { 
          alert(data.msg);
          console.log(data);}
    } // end of success
  });  //end of ajax
};

function send_received_money_to_server(client_id, payment_amount){
  // alert(payment_amount);
  $.ajax({
    dataType: 'json',
    url: '/tiamo/payment/received/',
    type:'POST',
    data: { 
        'client_id': client_id,
        'payment_amount':payment_amount,
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
    success: function (data){
        if (data.msg == "success"){
          //data 갱신
          $('#'+client_id+"-buttons").html("");
          $('#unpaid_total_'+client_id).html("수금 후 잔액 : "+ data.remain);
          //초기화
          $('#history-' + client_id).html("");
        } else { console.log(data);}
    } // end of success
  });  //end of ajax
};



</script>
{% endblock %}

