    <div id="accordion-5" class="col-xs-8 col-sm-6">
     5F / 6F
      {% for recode in 5flist%}
         {% include 'client_list_accordian.html' %} 
      {% endfor %}
      {% for recode in 6flist%}
         {% include 'client_list_accordian.html' %} 
      {% endfor %}

    </div> <!-- end of accordion -->
    <div id="accordion-6" class="col-xs-4 col-sm-6">
      2F / 1F
      {% for recode in 2flist%}
          {% include 'client_list_accordian.html' %} 
      {% endfor %}
      {% for recode in 1flist%}
          {% include 'client_list_accordian.html' %} 
      {% endfor %}
    </div>