        <h4 class="{{recode.client.segment}} {{recode.client.posnumber}} ">{{recode.client}} {{recode.client.name }}</h4>
        <div id="detail-{{recode.client.id}}" >
                      <table class="table table-bordered">
                        <tr><th>c_id</th><th>생성일자</th><th>수금규칙</th></tr>
                        <tr><td>{{recode.client.id}}</td><td>{{recode.client.created}} </td><td>
                              {{recode.client.payment_type}}
                              {% if recode.client.payment_rules %} - {{recode.client.payment_rules}} {% endif %}   
                              
                              {% if recode.client.receipt %}
                                {% if recode.client.receipt == 1 %}
                                  <span id="span_1_{{data.client.id}}" class="glyphicon glyphicon-tag" style="color:IndianRed" title="무지영수증"/>
                                {% elif recode.client.receipt == 2 %}
                                  <span id="span_2_{{data.client.id}}"  class="glyphicon glyphicon-tags" style="color:Purple" title="간이영수증"/>
                                {% endif %}

                              {% endif %}
                              
                        </td></tr>
                              {% if recode.client.comment %} <tr><td colspan="3"> {{recode.client.comment}} </td></tr>{% endif %}
                      </table>
                      <div id="unpaid_total_{{recode.client.id}}" class="unpaid_total">미수금 총액 : 
                          {% if recode.unpaid_total != 0 %}
                              <a href="#" onclick="show_order_history({{recode.client.id}})"> <span class="total_number"> {{recode.unpaid_total}} </span><span class="glyphicon glyphicon-zoom-in"/></a>
                          {% else %} 0 {% endif %}
                          ({% if recode.applied_coupon %} <span class="coupon_total">{{recode.applied_coupon}}</span> 
                          {% else %} - {% endif %} ) 
                      </div>

                      {% if recode.client.payment_reserv_date %} 
                        <span>  다음 수금 지정일 :{{recode.client.payment_reserv_date}} </span>
                      {% endif %}

                      <div id="dialog_{{recode.client.id}}_msg"><div id="body"></div></div>
                      

                      <table id = "{{recode.client.id}}-buttons" class="keybords">
                          {% if recode.unpaid_total %}
                          <caption>수금체크</caption>
                          <tr>
                          <td class="unpaid_total"><button type="button" onclick="payment_received_until_yesterday({{recode.client.id}})" class="btn btn-success">어제꺼까지</button></td>
                          <td><button type="button" onclick="show_received_date_box({{recode.client.id}})" class="btn btn-success">지정한 날짜까지</button></td>
                          <td><button type="button" onclick="show_received_amount_box({{recode.client.id}})"  class="btn btn-success">받은 금액만큼</button></td>
                        </tr>
                          {% endif %}
                      </table>

        </div>

