          <div id="accordion-3" class="col-xs-8 col-sm-6">
                A
                {% for recode in 3flist%}
                {% if recode.client.segment == 'A' %}
                    {% include 'client_list_accordian.html' %} 
                {% endif %}
                {% endfor %}
            </div> <!-- end of accordion -->
            <div id="accordion-4" class="col-xs-4 col-sm-6">
                B
                {% for recode in 3flist%}
                {% if recode.client.segment == 'B' %}
                    {% include 'client_list_accordian.html' %} 
                {% endif %}
                {% endfor %}

                C
                {% for recode in 3flist%}
                {% if recode.client.segment == 'C' %}
                    {% include 'client_list_accordian.html' %} 
                {% endif %}
                {% endfor %}
 
                N
                {% for recode in 3flist%}
                {% if recode.client.segment == 'N' %}
                    {% include 'client_list_accordian.html' %} 
                {% endif %}
                {% endfor %}
                D
                {% for recode in 3flist%}
                {% if recode.client.segment == 'D' %}
                    {% include 'client_list_accordian.html' %} 
                {% endif %}
                {% endfor %}               
            </div>  <!-- end of accordion -->