 {% extends "base_generic.html" %}

 {% block content %}
<style type="text/css">
.warning-placeholder::-webkit-input-placeholder {
    color: #ff0000
}

.btn-default {
    width: 120px;
    box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2), 0 0px 1px 0 rgba(0,0,0,0.19);
    margin: 2px
}

#dialog-message { }
#deferd_list {border-top-width: 2; margin-bottom: 10px;}
#completed_list {border-top-width: 2; margin-bottom: 10px;}
#tabs-1-list {margin-bottom: 10px; width: 70%;}
#tabs-2-list {margin-bottom: 10px; width: 70%;}
#tabs-3-list {margin-bottom: 10px; width: 70%;}
table tbody tr th{ width: 130px;}

</style>

<script type="text/javascript"></script>

<h1> {{date|date:'Y m. d'}} 정산대상</h1> 

<div id="dialog-message" title="거래내역">
  <div id="dialog-body"></div>
</div>

<div id="tabs">
<ul>
  <li><a href="#tabs-1">4F </span></a></li>
  <li><a href="#tabs-2">3F</a></li>
  <li><a href="#tabs-3">그 외</a></li>
</ul>

<div id="tabs-1" >
  <div class="row">

  <div id="tabs-1-list" class="col-xs-6">

    {% if 4flist %} 
    A  
      {% for data in 4flist %}
      {% if data.client.segment == 'A' %}
          {% include 'payment/payment_time_list_detail.html' %}
      {% endif %}
      {% endfor%}

      B
      {% for data in 4flist %}
      {% if data.client.segment == 'B' %}
          {% include 'payment/payment_time_list_detail.html' %}
      {% endif %}
      {% endfor%}
      C
      {% for data in 4flist %}
      {% if data.client.segment == 'C' %}
          {% include 'payment/payment_time_list_detail.html' %}
      {% endif %}
      {% endfor%}
      N
      {% for data in 4flist %}
      {% if data.client.segment == 'N' %}
          {% include 'payment/payment_time_list_detail.html' %}
      {% endif %}
      {% endfor%}
  </div>  <!-- end of accordion -->  <!-- segment == A-D -->

    {% else %}
      <div id = "noData" class="col-xs-6">
        표시할 데이터가 없네요.
      </div>
    {% endif %}

    <div class="col-xs-6">
      <!-- 공백  -->
    </div> 
    
</div> <!-- end of row -->
</div> <!-- end of tabs-1 -->

{% include 'payment/payment_time_list_3f.html' %}
{% include 'payment/payment_time_list_2f_5f_etc.html' %}







 <script type="text/javascript">
$(document).ready(function() {
  $( "#tabs-1-list" ).accordion({
    collapsible: true
  });
  $( "#tabs-2-list" ).accordion({
    collapsible: true
  });
  $( "#tabs-3-list" ).accordion({
    collapsible: true
  });
  $( "#deferd_list" ).accordion({
    collapsible: true
  });
  $( "#completed_list" ).accordion({
    collapsible: true
  });

  $( "#tabs" ).tabs();
  
  $('#date').datepicker({dateFormat:'yy-mm-dd'});
      

});


function send_received_date_to_server(client_id, until_date){
  $.ajax({
    dataType: 'json',
    url: '/tiamo/payment/received/',
    type:'POST',
    data: { 
        'client_id': client_id,
        'until_date': until_date,
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
    success: function (data){
        if (data.msg == 'success'){
          //data 갱신
          var item = "<h3> "+$("#c_name-"+client_id).val()+"</h3>"
          $('#completed_list ul' ).append(item);
          //초기화
          $('#detail-'+client_id).remove();
          $('#client-'+client_id).remove();
        } else {
          console.log(data.msg);
          $('#msg').val(data.msg);
        }
    } // end of success
  });  //end of ajax
};

function send_received_money_to_server(client_id, received_money){
  alert(received_money);
  // received_date는 돈 받은 날짜임. 테스트용. 임의의 날짜로 수금처리하고자 할 때 사용함.
  $.ajax({
    dataType: 'json',
    url: '/tiamo/payment/received/',
    type:'POST',
    data: { 
        'client_id': client_id,
        'payment_amount': received_money,
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
    success: function (data){
        console.log(data);
        if (data.msg == 'success'){
          //data 갱신
          var item = "<h3> "+$("#c_name-"+client_id).val()+"</h3>"
          $('#completed_list ul' ).append(item);
          //초기화
          $('#detail-'+client_id).remove();
          $('#client-'+client_id).remove();
        } else { console.log(data);}
    } // end of success
  });  //end of ajax
};
function payment_received(client_id){
  // received_date는 돈 받은 날짜임. 테스트용. 임의의 날짜로 수금처리하고자 할 때 사용함.
  $.ajax({
    dataType: 'json',
    url: '/tiamo/payment/received/',
    type:'POST',
    data: { 
        'client_id': client_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
    success: function (data){
        if (data.msg == 'success'){
          //data 갱신 
          var item = "<h3> "+$("#c_name-"+client_id).val()+"</h3>"
          $('#completed_list ul' ).append(item);
          // 초기화
          $('#detail-'+client_id).remove();
          $('#client-'+client_id).remove();
        } else { console.log(data);}
    } // end of success
  });  //end of ajax
};

 // base_generic.html > input_money_amount ()

  //금액입력 용 태그 보이기
  function show_received_amount_box (client_id) {
    $('#dialog-body').html(input_money_amount(client_id));
    $('#dialog-message').dialog({
      modal: true,
      title: "부분결제 금액지정",
      buttons: {
        Cancel: function() {
          $('#error_span').hide();
          $( this ).dialog( "close" );
        },
        Confirm: function(){
          var received_money = $('#received_'+client_id+'_money').val();
          if (received_money > 500) {
            send_received_money_to_server(client_id, received_money);
            $( this ).dialog( "close" );
          }
          else{
            $('#received_money').addClass('warning-placeholder');
            $('#error_span').show();
            console.log("받은 금액 오류!");
          }
        } 
      }
    }); 
  };

  //날짜입력 용 다이얼로그 보이기
  function show_received_date_box (client_id) {
    $('#dialog-body').html(input_date_body(client_id));
    $('.datepicker').datepicker({dateFormat:'yy-mm-dd'});
    $('#dialog-message').dialog({
      modal: true,
      title:"수금한 날짜지정",
      buttons: {
        Cancel: function() {
          $( this ).dialog( "close" );
        },
        Confirm: function(){
          var until_date = $('#date_'+client_id+'_datepicker').val();
          if (until_date){
            
            send_received_date_to_server(client_id, until_date);
            $( this ).dialog( "close" );
          }
          else{
            console.log("날짜 입력 오류 ");
          }
        } 
      }
    }); 
  };
 
  function input_date_body(client_id){
    var result_data = ''
    result_data += "<div id = \"input_date\" "
    result_data += "<label for=\"date\">DATE :</label> <input id=\"date_"+client_id+"_datepicker\"  class=\"datepicker\" type=\"text\" name=\"date\"/>"
    result_data += "<a href='javascript:void(0);' onclick=\"setDateToday()\"><b>오늘</b></a>"
    result_data += "<p id=\"msg\"></p></div>"
                          
    return result_data
  };


// base_generic.html > history_data (data)
// base_generic.html > show_order_history(client_id)
 


  function defer_data(client_id) {
    var result = ""
    var title = "연기 날짜지정"
    result += "<label for=\"defer_date\">연기 날짜:</label>"
    result += "<input type=\"date\"  name=\"somedate\" id=\"date_"+client_id+"_defer\"/>"
    return result

// <input type="button" onclick="" value="전송">

  };
  
  //다음 지정일 용 달력 보이기
  function show_defer_box (client_id) {
    $('#dialog-body').html(defer_data(client_id));
    $('#dialog-message').dialog({
      modal: true,
      buttons: {
        Cancel: function() {
          $( this ).dialog( "close" );
        },
        Confirm: function(){
          defer_payment(client_id);
          $( this ).dialog( "close" );
        }
      }
    });
  };

  function defer_payment(client_id){
    var id = "client-"+client_id;
    var defer_date = $('#date_'+client_id+'_defer').val();
    $.ajax({
      dataType: 'json',
      url: '/tiamo/payment/defer/',
      type:'POST',
      data: { 
          'client_id': client_id,
          'defer_date': defer_date,
          'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
      success: function (data){
          console.log(data);
          if (data.msg == 'success'){
            var item = "<h3> "+$("#c_name-"+client_id).val()+"</h3>"
            $('#deferd_list ul' ).append(item);
            $('#detail-'+client_id).remove();
            $('#client-'+client_id).remove();
          }
      } // end of success
    });  //end of ajax 
  };
 
  

  

  // //autocomplete
  // $('#id_client').autocomplete({
  //     source: l_client_posnum
  // });
  
  
  // TODO: (중요) ********************************************
  // 나중에 function 들은 모두 /body 앞으로 모두 이동한다. 
  // full_payment()함수도 defer_payment()를 참고하여 이동할 수  있다.
</script>
{% endblock %}