          <h3 id="client-{{data.client.id}}"> {{data.client}} ( {{data.client.name}} )&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-hand-right"> </span>&nbsp; {{data.unpaid_until_yesterday}}</h3>
          <div id="detail-{{data.client.id}}">
              <table class="table table-bordered"> 
                <tr><th>c_id</th>  
                  <td colspan="5"> {{data.client.id}} </td> </tr>
                <tr><th style="width:150px;"> 총미수금</th> 
                  <td> <a href="#"  onclick="show_order_history({{data.client.id}})"><span class="total_number"> {{data.unpaid_total}} </span>{% if data.applied_coupon %}( {{data.applied_coupon}}) {% endif %}<span class="glyphicon glyphicon-zoom-in"></a> </td> 
                  <th >어제까지</th><td>{{data.unpaid_until_yesterday}}</td><th>오늘</th><td>{{data.unpaid_today}}</td>

                </tr>


                <tr><th>기간</th>   
                  <td colspan="5"> {{data.start_orderdate|date:'Y m. d'}} ~ {{data.last_orderdate|date:'Y m. d'}} </td></tr>
                <tr><th>이전수금일</th>
                  <td colspan="5">{% if data.last_payday %} {{data.last_payday| date:'Y m. d'}}  {% else %} 기록없음   {% endif %}</td> </tr>
                <tr><th>수금지정일</th><td colspan="5">{{data.client.payment_reserv_date}}</td></tr>
              </table>

              <div id="dialog_{{data.client.id}}_msg"><div id="body"></div></div>
              <table id = "{{data.client.id}}-buttons" class="keybords">
                  {% if data.unpaid_total %}
                  <caption>수금체크</caption>
                  <tr>
                  <td class="unpaid_total"><button type="button" onclick="payment_received({{data.client.id}})" class="btn btn-success">어제꺼까지</button></td>
                  <td><button type="button" onclick="show_received_date_box({{data.client.id}})" class="btn btn-success">지정한 날짜까지</button></td>
                  <td><button type="button" onclick="show_received_amount_box({{data.client.id}})"  class="btn btn-success">받은 금액만큼</button></td>
                  <td><button type="button" onclick="show_defer_box({{data.client.id}})"  class="btn btn-success">연기</button></td>
                  </tr>
                  {% endif %}
              </table>
          </div>
