{% extends "base_generic.html" %}

{% block content %}
<style type="text/css">

.edit_plan {display: none;}
{% if edit_data_flag %}
 .edit_plan {display: block; }
{% endif %}
.glyphicon-minus {margin-right: 10px;}
 

</style>
  
<div class="row">
<div class="col-md-2">
	<div class="page-heder"><h1>{{title}}</h1></div>

</div> <!-- end of col-md-1 -->

<div class="col-md-7">
<table class="table table-condensed table-hover table-striped table-sm display grid-data"  width="100%">
		<thead>
			<th class="edit_plan">편집</th>
			<th style="width:60px;">c_id</th>
			<th style="width:130px;">호수-상호</th>
			<th style="width:130px;">수금정책</th>

			<!-- <th style="width:100px;">전일누적미수금</th> -->
			<th>마지막 수금일자</th>
			<th>마지막 거래일자</th>

			<th>판매금액 ({{day}}일 판매총액)</th>
		</thead>
		<tbody >
		{% for data in plist %}
		<tr>
			<td class="edit_plan"><span class="glyphicon glyphicon-minus" id="hidden"   title="리스트에서 숨기기"></span> </td>
			<td> {{data.client.id }}</td> 
			<td> {{data.client}} - {{data.client.name}}</td> 
			<td> {{data.client.payment_type}} {% if data.client.payment_rules %} {{data.client.payment_rules}} {% endif %}
				{% if data.client.payment_reserv_date %} (수금예약일 : {{data.client.payment_reserv_date}}) {% endif %}
			</td>

<!-- 			<td> <a href="#"  onclick="show_order_history({{data.client.id}})">{{data.unpaid_total }} {% if data.applied_coupon %}({{data.applied_coupon}}) {% endif %}</a></td>  -->
	      	
			{% if data.last_payday %} <td> {{data.last_payday}}</td> {% else %} <td> - </td>  {% endif %}
			{% if data.last_orderdate %} <td> {{data.last_orderdate}}</td> {% else %} <td> - </td>  {% endif %}
			<td> {{data.selling_today}} ({{data.coupon_today}})</td>  
		</tr>	
		{% endfor %}
	</tbody>
	</table> 
</div> <!-- end of col-md-8 -->

<div class="col-md-2">
	<div id="help" class="panel panel-info">
		 <small>{{title_help}}</small>
	</div>
	<div id="dialog-message" title="거래내역" style="width: 700px;">
	  <div id="order-history"></div>
	</div>
	<div id="tools" class="edit_plan"><input  type="button" value="인쇄모드"  onclick="hide_attr()" title="인쇄하지 않을 항목을 숨깁니다."> </div>
</div> <!-- end of col-md-3 -->
</div> <!-- end of row -->
 

 



<script type="text/javascript">
$(document).ready(function() {
	// $('.grid-data').DataTable( {
	//     "pageLength": 15
	// });

});

function hide_attr(){
	var result=confirm("이동 후에는 편집모드로 돌아갈 수 없습니다. 계속하시겠습니까?");
   if (result) {
		$(".edit_plan").hide();
		$("#help").hide();
		$("#tools").hide();
   } 
}

$(document).on("click","#hidden",function(){
	$(this).parent().parent().remove();
});

// TODO: js파일로 따로 빼기 
// payment_time_list.html에도 동일한 함수 존재함
function show_order_history (client_id) {
  $.ajax({
    dataType: 'json',
    url: '/tiamo/order/history/',
    type:'POST',
    data: { 
        'client_id': client_id,
        'until': {{date}},
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
    success: function (data){
        $('#order-history').html(history_data(data));
        $('#dialog-message').dialog({
		      modal: true,
		      buttons: {
		        Ok: function() {
		          $( this ).dialog( "close" );
		        }
		      }
		    });
		 
    } // end of success
  });  //end of ajax

}; //end of show_order_history()



function history_data (data) {
	var remain = 0;
	if (data.remain ){remain = data.remain };

  	var result = 
    "<div id=\"remain_total\">수금 후 잔액 :  "+remain+"</div><br><table id=\"table_id\"class=\"table table-striped table-hover \" WIDTH=\"600\"><thead><tr><th WIDTH=\"100\">판매일자</th><th WIDTH=\"300\">판매항목</th><th WIDTH=\"100\">판매총액</th><th ></th></tr></thead><tbody>";
 
	for (var i = 0; i < data.history.length; i++) {
		result = result + "<tr><td>"+data.history[i].orderdate+"</td><td>"+data.history[i].products+"</td><td>   "+data.history[i].total_sales+"</td><td></td></tr>";
	};

  	result = result+ "</tbody></table>";
  	return result
};
</script>

{% endblock %}