
<div id="tabs-3" >
<div class="row">

  <div id="tabs-3-list" class="col-xs-6">

  {% if 6flist %}
  6F  
      {% for data in 6flist %}
          {% include 'payment/payment_time_list_detail.html' %}
      {% endfor%}
  {% endif %}

  {% if 5flist %}
  5F
      {% for data in 5flist %}
          {% include 'payment/payment_time_list_detail.html' %}
      {% endfor%}
  {% endif %}

  {% if 2flist %}
  2F
      {% for data in 2flist %}
          {% include 'payment/payment_time_list_detail.html' %}
      {% endfor%}
  {% endif %}

  {% if 2flist %}
  1F
      {% for data in 1flist %}
          {% include 'payment/payment_time_list_detail.html' %}
      {% endfor%}
  {% endif %}
  </div>  <!-- end of accordion -->  <!-- segment == A-D -->

  <div class="col-xs-6">
        {% if paidlist %} 
        <div id = "completed_list">
          <h3> 완료 리스트  {{paidlist.length}}</h3>
          <ul class="list-group">
            {% for data in paidlist %}
            <li><span class="glyphicon glyphicon-forward"></span>{{data.client}} ({{data.client.name}})</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if deferd_list %}
        <div id="deferd_list">
          <h3> 보류 리스트  {{deferd_list.length}}</h3>
          <ul class="list-group">
            {% for data in deferd_list %}
            <li><span class="glyphicon glyphicon-forward"></span>{{data.name}} ({{data.payment_reserv_date}})</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div> 
  </div> <!-- end of row -->
</div>
