
<div id="tabs-2" >

  <div id="tabs-2-list" class="col-xs-6">

    {% if 3flist %} 
      A  
      {% for data in 3flist %}
      {% if data.client.segment == 'A' %}

          {% include 'payment/payment_time_list_detail.html' %} 

      {% endif %}
      {% endfor%}

      B
      {% for data in 3flist %}
      {% if data.client.segment == 'B' %}
     
          {% include 'payment/payment_time_list_detail.html' %} 
      

      {% endif %}
      {% endfor%}

      C
      {% for data in 3flist %}
      {% if data.client.segment == 'C' %}

          {% include 'payment/payment_time_list_detail.html' %} 

      {% endif %}
      {% endfor%}
      
      D
      {% for data in 3flist %}
      {% if data.client.segment == 'D' %}

          {% include 'payment/payment_time_list_detail.html' %} 

      {% endif %}
      {% endfor%}
      
      
      N
      {% for data in 3flist %}
      {% if data.client.segment == 'N' %}
 
          {% include 'payment/payment_time_list_detail.html' %} 

      {% endif %}
      {% endfor%}
  </div>  <!-- end of accordion -->  <!-- segment == A-D -->

    {% else %}
      <div id = "noData" class="col-xs-6">
        표시할 데이터가 없네요.
      </div>
    {% endif %}

    <div class="col-xs-6">
    <!-- 공백  -->
    </div> 

    
</div>
