{% extends "base_generic.html" %}

{% block content %}


<div class="col-md-1">
</div> <!-- end of col-md-1 -->
<div class="col-md-9">
 
Welcome !!!
 
</div> <!-- end of col-md-8 -->
<div class="col-md-2">
 



</div> <!-- end of col-md-3 -->
<script type="text/javascript">
 

</script>
{% endblock %}

